    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    .container {
        width: 100%;
        margin: 0 auto;
    }
    
    .container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 300px;
        background-color: #efefefff;
        border-bottom: 3px solid #f1c232ff;
    }
    
    .logo {
        font-size: 28px;
        font-family: "system";
        margin: 10px 15px;
        /* padding: 0px 0px; */
        padding-right: 180px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 40px 1fr;
        /* background-color: lawngreen; */
    }
    
    #image_logo {
        display: block;
        /* border: 5px solid snow; */
        float: left;
    }
    
    #logo_item {
        position: relative;
        display: block;
        color: white;
        font-size: 18px;
        text-decoration: none;
        background-color: #434343ff;
        /* border-bottom: 1px solid white; */
        padding: 10px 10px;
        font-family: "system";
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
        /* text-align: left; */
    }
    
    .user-topBar ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
    }
    
    .user-topBar li {
        list-style: none;
        /* display: grid;
    grid-template-columns: 1fr 1fr; */
    }
    
    input[type=text] {
        width: 160px;
        height: 35px;
        padding: 5px 18px;
        margin: 10px 5px;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        font-family: "system";
        pointer-events: initial;
    }
    /* front Apple */
    
    @font-face {
        font-family: system;
        font-style: normal;
        font-weight: 300;
        src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
    }
    
    input[type=password] {
        width: 160px;
        height: 35px;
        padding: 5px 18px;
        margin: 10px 5px;
        box-sizing: border-box;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        font-family: "system";
        pointer-events: initial;
    }
    /* input[type=text]:focus {
    background-color: #efefefff; 
}

input[type=password]:focus {
    background-color: #efefefff; 
} */
    
    #A-TopBar1 {
        display: block;
        background-color: #f1c232ff;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "system";
        cursor: pointer;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        width: 70px;
        transition: .3s ease;
        color: #ffffff;
        font-weight: bolder;
    }
    
    #A-TopBar1:hover {
        transition: .3s ease;
        background-color: #ffd966ff;
    }
    
    #A-TopBar2 {
        display: block;
        background-color: #f1c232ff;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "system";
        cursor: pointer;
        border: none;
        padding: 6px 10px;
        border-radius: 5px;
        transition: .3s ease;
        color: #ffffff;
        font-weight: bolder;
        font-size: 2px;
    }
    
    #A-TopBar2:hover {
        transition: .3s ease;
        background-color: #ffd966ff;
    }
    
    #A-TopBar3 {
        display: block;
        background-color: #e06666ff;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "system";
        cursor: pointer;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        width: 80px;
        color: #ffffff;
        font-weight: bolder;
    }
    
    #A-TopBar3:hover {
        background-color: #ff0000ff;
    }
    
    .A-TopBar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 9px;
        margin-top: 10px;
        font-size: 8px;
    }
    
    .UserAndPass {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }